body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:linear-gradient(to right, rgb(255, 196, 179), rgb(108, 239, 255));
}
/*linear-gradient(to right, rgb(255, 196, 179), rgb(108, 239, 255));*/